[flake8]
application-import-names = hypermodern_python_gisandnes,tests
import-order-style = google
select = B,B9,BLK,C,E,F,I,S,W
ignore = BLK100,E203,E501,W503
per-file-ignores = tests/*:S101
max-line-length = 80
# max-complexity = 10
